.pokemon-details {
    text-align: center;
}

#pokemonName {
    text-transform: capitalize;
    font-size: 2em;
    margin: 50px 0;
}

#pokemonStats {
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

ul {
    background-color: blue;
    color:#fff;
    border-radius: 1rem;
    
}

.pokemon-details {
    background-color: yellow;
    border-radius: 1rem;
    width: 70%
}
